@import "../../styles/global_styles.scss";

.container {
  border-bottom: 1px solid $blueLight;

  .info{
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .buttonWrapper{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 3px 12px;
      gap: 8px;
      background-color: $buttonColor;
      width: 116px;
      height: 36px;
      text-decoration: none;
      cursor: pointer;
      font: inherit;
      color: white;
      border-radius: 5px;
      overflow: hidden;

      &:hover {
        background-color: white;
        color:  $buttonColor;
        border: 1px solid $buttonColor;
      }
    }

  }

  .description {
    padding: 0 16px;
    border-bottom: 2px solid $blueLight;

  }

}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  margin: 0 auto;
  position: fixed;
  top: 10vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}
