@import "../../styles/global_styles.scss";

.header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $navbarColor;
  // padding: 0 10%;
}

.logo:hover {
  cursor: pointer;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.header li {
  margin-left: 3rem;

  .topbarIcon {
    cursor: pointer;
  }
}

.header a {
  text-decoration: none;
  font-size: 10px;
  color: #000000;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
}

.link {
  cursor: pointer;
}


.badge {
  background-color: #cc2062;
  color: white;
  border-radius: 12px;
  padding: 0 .5rem;
  margin-left: 0.5rem;
}

.button {
  display:inline-block;
  padding:0.35em 1.2em;
  border:none;
  margin:0 0.3em 0.3em 0;
  /* font-size: 24px; */
  text-decoration:none;
  font-weight:300;
  color:#000000;
  text-align:center;
  transition: all 0.2s;
  background-color: transparent;
}

.button:hover{
  color:#ffffff;
  cursor: pointer;
}

.logoBlue {
  color: #0056b1;
}

.logoYellow {
  color: #f2ca00;
}
