@import "../../styles/global_styles.scss";

.myclass {
  background: $blueDark;
  padding: 16px;
  height: 100vh;
}

.myclass > *:not(:last-child) {
  margin-bottom:16px;
}

.socialmediacard {
  background:white !important;
  padding-left:12px;
  border: 1px solid #EEF2F9;
  box-shadow: 3px 3px 10px -2px rgb(8 18 36 / 15%);
  border-radius: 5px 5px 10px 5px;
  height:96px;
  display:flex;
  align-items: center;
}

.socialimage {
  width: 64px;
  height: 64px;
  background: blue;
  flex-shrink: 0;
  overflow-x: visible;
}

.contentright {
  margin-left: 12px;
  display:flex;
  flex-direction:column;
  //background:red !important;
  justify-content: space-between;
  flex-grow:0;
  height:100%;
  width:100%;

  p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  h4 {
    margin-top: 8px !important;
    margin-bottom: 0px !important;
    //background:palevioletred;
    margin-right:12px;
  }

  .smallsemibold {
    font-weight:600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }

  .cardbottom {
    display: flex;
  }

  .cardbottom > *:not(:last-child) {
    margin-right:8px;
  }

  .icontext {
    display:flex;
    //background:yellow;
    align-items: center;

  }

  .members {
    display:flex;
    //background:yellowgreen;
    align-items: center;
  }

  .socialcategory {
    background: $greyLight;
    width: 40px;
    height: 40px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px 0px 0px 0px;
  }

  .socialicon {
    width:24px;
    height:24px;
  }

  .lowerpart {
    //background:turquoise;
    display:flex;
    align-items: center;
    justify-content: space-between;
  }

  .socialsmallregular {
    font-weight:600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
  }
}
