@media (max-width: 600px) {
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 16px;
  }
}

@media (min-width: 600px) {
  .container {
    justify-content: space-between;
    display: flex;
    margin-right: 24px;
  }
}
