@media (max-width: 450px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 16px;
  }
}

@media (min-width: 450px) {
  .container {
    margin-top: 16px;
    justify-content: space-around;
    display: flex;
  }
}
