@import "../../styles/global_styles.scss";

@media (max-width: 600px) {
  .carded {
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #EEF2F9;
    box-shadow: 3px 3px 10px -2px rgba(8, 18, 36, 0.15);
    width: 164px;
    height: 243px;
    overflow: hidden;
  }

  .image {
    margin-left: 33px;
    margin-right: 32px;
    height: 98px;
    width: 98px;
  }

  .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    background: #17356D;
  }

  .main {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 18px;
  }

  .support {
    margin-top: 0px;
    font-size: 14px;
    color: white;
    text-align: center;
  }
}
@media (min-width: 600px) {
  .carded {
    margin-top: 16px;
    margin-left: 16px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #EEF2F9;
    box-shadow: 3px 3px 10px -2px rgba(8, 18, 36, 0.15);
    overflow: hidden;
  }

  .image {
    height: 200px;
    width: auto;
    display: flex;
    justify-content: center;
  }

  .caption {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    background: #17356D;
  }

  .main {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 24px;
  }

  .support {
    margin-top: 0px;
    padding: 16px;
    font-size: 14px;
    text-align: center;
    color: white;
  }
}
