@import "../../styles/global_styles.scss";

.carded {
  text-align: center;
  margin-top: 5px;
  border-radius: 10px;
  width: 180px;
  margin: 5px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
}

.caption {
  color: white;
  background-color: $cardColorBlue;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
