@import "../../styles/global_styles.scss";

.itemListContainer {
  background-color: $blueDark;
  padding: 16px;
    .list {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 48px;
    }
}
