@import "./global_styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 48px;
  color: $blueXdark;
}

h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: $blueXdark;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: $blueRegular;
}

p {
  font-style: normal;
  font-weight: 400;
  color: $blueXdark;
  letter-spacing: 0.5px;
}

.semibold {
  font-weight:600;
  font-size: 16px;
  line-height: 24px;
}

.bold {
  font-weight:700;
  font-size: 16px;
  line-height: 24px;
}

.smallsemibold {
  font-weight:600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.smallbold {
  font-weight:700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
}

.xsmall {
  font-weight:400;
  font-size: 11px;
  line-height: 11px;
  letter-spacing: 0.5px;
}

.tag {
  font-weight:600;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1px;
}

option {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: red;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
}
