@import "./global_styles.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 0.5px;
  color: $blueRegular;
}

p {
  font-style: normal;
  font-weight: 400;
  color: $blueXdark;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;

}
